<div class="container-md bg-dark text-white">
  <div class="row justify-content-center my-4">
    <div class="col-5 col-sm-4 col-lg-3 col-xl-2">
      <h2>Amount</h2>
    </div>
    <div class="col-2 col-sm-2 col-lg-1">
        <input type="number" [(ngModel)]="amount" class="form-control shadow" placeholder="Amount to convert">    
    </div>
  </div>
  <div class="row justify-content-center my-4">
    <div class="col-9 col-sm-6 col-md-4">
      <app-exchange-picker [title]="'From'"
                          [(symbol)]="fromSymbol"
                          [symbols]="symbols">
      </app-exchange-picker>
    </div>
    <div class="col-12 col-md-1 align-self-end text-center">
      <button type="button"
              class="btn btn-info"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Toggle symbols"
              (click)="toggleSymbols()">
        <i [ngClass]="{'bi bi-arrow-left-right' : !isMobile(), 'bi bi-arrow-down-up' : isMobile() }"></i>
      </button>
    </div>
    <div class="col-9 col-sm-6 col-md-4">
      <app-exchange-picker [title]="'To'"
                          [(symbol)]="toSymbol"
                          [symbols]="symbols">
      </app-exchange-picker>                 
    </div>
    <div class="col-12 col-md-1 align-self-end text-center">
      <button type="button"
              class="btn btn-success"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Convert Currency"
              [disabled] ="!amount"
              (click)="convertCurrency()">
        <i class="bi bi-calculator-fill"></i>
      </button>
    </div>
  </div>
  <div class="row justify-content-center mt-5" *ngIf="result && result != 0">
    <div class="col-10 col-sm-8 col-lg-6 col-xl-5 text-center">
      <h1>The result is <b>{{result | currency}}</b></h1>
    </div>
  </div>
  <div class="spinner-border m-5" role="status" *ngIf="result == 0">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>